<!DOCTYPE HTML>
<html>
	<head>
		<title>Mortgage Calculator</title>
	</head>

		<body>
			<h1>Mortgage Calculator</h1>

				<p>
					<p><b>Cost of House</b>: <input type="text" id="inCost"/></p>
					<p><b>Down Payment</b>: <input type="text" id="inDown"/></p>
					<p><b>APR (Interest %)</b>: <input type="text" id="inAPR"/></p>
					<p><b>Time period (Years)</b>: <input type="text" id="inPeriod"/></p>
					<p><button id="btnCalculate">Calculate Payments</button></p>
					<hr/>

					<p><b>Total Monthly Payment: <span id="outMonthly"></span></b>

					<script src="mortgageCalc.js"></script>
				</p>
		</body>
</html>
